
.modal-container {
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0,4);
    background-color: rgba(47, 138, 230, 0.1);
    overflow-y: scroll; 
    width: 70%;
    border-radius: 20px; 
    margin: auto;
    margin-top: 5
}


.form-group {

    border-radius: 10px;
    margin-bottom: 1rem;
    text-align: right;
    padding: 1rem 1rem; 
    margin: auto; 
    width: 100%;
}

.field_sub {
    text-align: left;
}

.field{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    padding: 1rem 1rem;
    margin: 1px;
    vertical-align: middle;
    text-align: center;
 
}

.field-select {
    display: grid;
    grid-template-columns: 1fr;
}

.field-text text{
    text-align: center; 
}

.main-form {
    display: grid; 
    grid-template-columns:  1fr 1fr;
}



.field-sub button{
    cursor: pointer;
}
.field_sub select {
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border: none;
}

.field-text textarea {
    font-size: 15px;
    resize: none; 
    width: 100%;
    outline: none;
    margin-left: 12px; 
    z-index: 3;
    overflow: visible;

}

.field_sub {
    padding: 10px; 
}

.entire_form {
    border-bottom: .5px solid #777;

}

.submit-form {
    margin-top: 5px;
}


.descriptions {
    position: absolute; 
    z-index: 3;
 
}

.description {
    margin-top: 25px;

}

.form-group {
    float: left;
    margin: 0;
    text-align: left;

    
}


