
.modal-container {

    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0,4);
    background-color: rgba(47, 138, 230, 0.1);
    overflow-y: scroll; 
    width: 70%;
    border-radius: 20px; 
    margin: auto;
    margin-top: 20px;
}

.main-form {
    margin-top: 5px; 
}

.form-group {

    border-radius: 10px;
    margin-bottom: 1rem;
    text-align: right;
    padding: 1rem 1rem; 
    margin: auto; 
    width: 100%;
}

.field{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-top: 5em; 
    

    vertical-align: middle;
    text-align: center;
 
}

.field p {
    text-align: left;
}

.field-select {
    display: grid;
    grid-template-columns: 1fr;
    cursor: pointer;
}

.field-text text{
    text-align: center; 
}

.field-text {
    cursor:pointer; 
}

.field-text textarea {
    margin-top: 2em;
    font-size: 15px;
    resize: none; 
    width: 100%;
    outline: none;
   
    z-index: 3;
    overflow: visible;

}

.entire_form {
    border-bottom: .5px solid #777;

}

.submit-form {
    cursor: pointer;
    transition-delay: 100ms;
}




.submit-form:active{
    background-color: green;
    color: white;
    border-radius: 10px;
}





