.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #faf9f6;
}


.table-wrapper {
    width: 100%;
}


.list-container{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.loading-state {
    margin-top: 50px; 
    font-size: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    z-index: 5;

}


.loading-container {
    width: 100%;
    border-radius: 10px;
    height: 1000px;

}

/* damit alles in der mitte ist bei der liste */
.list{
    margin-top:  5%;
    left: 0;
    top: 0;
    background-color: rgba(47, 138, 230, 0.1);
    width: 30rem;

    border-radius: 20px;

}

.sublist {
    display: inline-block;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;

}



.sublist-2 {
    text-align: center; 
    margin-left: 75px;
}

.table-1 {
    padding: 10px; 

}

input {
    width: 190px;
    outline: none;
}
/* begin of itmes */



.item-wrapper{
    text-align: center;
    justify-items: center;
}

.items{
    display: grid;
    grid-template-columns: 50px 50px 50px;
    align-items: center;
    justify-content: center;
    margin-left: 10px; 
    margin-top: 10px; 
    text-align: left;

}


.btn {
    cursor: pointer;
}

.arrow {
    margin-left: 5px;
}