.main-list {
    display: flex;
    position: relative;
    justify-content: center;
}

.list{
    margin-top:  5%;
    left: 0;
    top: 0;
    background-color: rgba(47, 138, 230, 0.1);
    width: 30rem;
    text-align: center;
    border-radius: 20px;

}



.items{
    display: flex;
    justify-content: space-between;
    margin-left: 10px; 
    margin-top: 10px; 
    text-align: left;
    
}

.icons {
    display: flex; 
    margin-right: 120px;

}

.arrow_btn{
    padding-right: 40px;
}



.text-todo {

    margin-left: 110px;

}


.loading-state {
    margin-top: 50px; 
    font-size: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    z-index: 5;

}


.loading-container {
    width: 100%;
    border-radius: 10px;
    height: 1000px;

}

.table-1 {
    padding: 5px;
}

.table-1 .input {
    outline: none; 
    border: none;
} 